@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700&display=swap');

body
{
    font-family: 'Commissioner', sans-serif !important;
}

header 
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: cadetblue;
    font-size: larger;
}

main
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
    min-height: 400px;
    max-width: 600px;
}

#question-div
{
    align-content: center;
}

button
{
    border-radius: 8px;
    min-width: 400px;
    margin: 10px;
}